USE [master]
GO
/****** Object:  Database [StudentsDB]    Script Date: 3/16/2026 1:31:03 PM ******/
CREATE DATABASE [StudentsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StudentsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StudentsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentsDB]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 3/16/2026 1:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[Revoked] [bit] NOT NULL,
	[Used] [bit] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 3/16/2026 1:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[Grade] [int] NOT NULL,
	[Email] [nvarchar](90) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Students__3214EC078BB10685] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Students] FOREIGN KEY([UserID])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Students]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddStudent]    Script Date: 3/16/2026 1:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddStudent]
    @Name NVARCHAR(100),
    @Age INT,
    @Grade INT,
    @NewStudentId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Students (Name, Age, Grade)
    VALUES (@Name, @Age, @Grade);

    SET @NewStudentId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteStudent]    Script Date: 3/16/2026 1:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteStudent]
    @StudentId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;

    DELETE FROM Students
    WHERE Id = @StudentId;

    SET @RowsAffected = @@ROWCOUNT;

    SELECT @RowsAffected AS RowsAffected;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllStudents]    Script Date: 3/16/2026 1:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllStudents]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Name, Age, Grade
    FROM Students;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAverageGrade]    Script Date: 3/16/2026 1:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAverageGrade]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT AVG(Grade) AS AverageGrade
    FROM Students;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetPassedStudents]    Script Date: 3/16/2026 1:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPassedStudents]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Name, Age, Grade
    FROM Students where Grade>=50;

END;

GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentById]    Script Date: 3/16/2026 1:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetStudentById]
    @StudentId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Name, Age, Grade
    FROM Students
    WHERE Id = @StudentId;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStudent]    Script Date: 3/16/2026 1:31:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateStudent]
    @StudentId INT,
    @Name NVARCHAR(100),
    @Age INT,
    @Grade INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Students
    SET Name = @Name,
        Age = @Age,
        Grade = @Grade
    WHERE Id = @StudentId;
END;
GO
USE [master]
GO
